<% if(pacientes.rows) { %>
    <% pacientes.rows.forEach( (paciente)=> {%>
        <tr class="tr-conteudo">
            <td class="td-conteudo"><%=paciente.Matricula%><br>
                <input type="checkbox" class="checkboxRegistro" id="checkboxRegistro" value="<%=paciente.Matricula%>">
            </td>
            <td class="td-conteudo"><%=paciente.DataCriacao%></td>
            <td class="td-conteudo"><%=paciente.Nome%></td>
            <td class="td-conteudo"><%=paciente.Nascimento%><br><%=paciente.Idade%> anos</td>
            <td class="td-conteudo"><%=paciente.Telefone%><br><%=paciente.Celular%></td>
            <td class="td-conteudo"><%=paciente.Especialidade%></td>
            <td class="td-conteudo"><%=paciente.Observacao%></td>
        </tr>
    <%})%>
<%}%>