<% if(pacientes.rows) { %>
    <% pacientes.rows.forEach( (paciente)=> {%>
        <tr class="tr-conteudo">
            <td class="td-conteudo"><span><%=paciente.Matricula%></span>
                <input type="checkbox" class="checkboxRegistro" id="checkboxRegistro" value="<%=paciente.id%>">
            </td>
            <td class="td-conteudo"><%=dataFormatada(paciente.createdAt)%><br><%=horaFormatada(paciente.createdAt)%></td>
            <td class="td-conteudo"><%=paciente.Atendente%></td>
            <td class="td-conteudo"><%=paciente.Status%></td>
            <td class="td-conteudo"><%=paciente.Nome%></td>
            <td class="td-conteudo"><%=paciente.Nascimento%><br><%=paciente.Idade%> anos</td>
            <td class="td-conteudo"><%=paciente.Telefone%><br><%=paciente.Celular%></td>
            <td class="td-conteudo"><%=paciente.Especialidade%></td>
            <td class="td-conteudo"><%=paciente.Observacao%></td>
            <% if(paciente.Status !== 'AGUARDANDO'){%>
                <td class="td-conteudo"><%=paciente.AtendenteRegistro%></td>
            <%}else{%>
                <td class="td-conteudo"></td>
            <%}%>
            <% if(paciente.Status !== 'AGUARDANDO'){%>
                <td class="td-conteudo"><%=dataFormatada(paciente.updatedAt)%><br><%=horaFormatada(paciente.updatedAt)%></td>
            <%}else{%>
                <td class="td-conteudo"></td>
            <%}%>
            <td class="td-conteudo"><%=paciente.informacaoRegistro%></td>
        </tr>
    <%})%>
<%}%>