<nav>
    <ul class="pagination">
      <!--Validar o botao anterior, desativando ou ativando de acordo com número de páginas-->
      <% var anterior = (paginaAtual-1)%>
      <% if(paginaAtual>1){%>
        <li class="page-item" id="anterior">
          <% if(idPagina === 1){%>
            <span class="page-link"><a class="pagina-link"  href="/pacientes/?page=<%=anterior%>">Anterior</a></span>
          <%}else{%>
            <span class="page-link"><a class="pagina-link"  href="/pacientes/filter/page=<%=anterior%>?matricula=<%=filterMatricula%>&data=<%=filterData%>&status=<%=filterStatus%>&especialidade=<%=filterEspecialidade%>&nome=<%=filterNome%>">Anterior</a></span>
          <%}%>
        </li>
      <%}else{%>
        <li class="page-item disabled">
          <span class="page-link">Anterior</span>
        </li>
      <%}%>

      <!--numero atual da página-->
      <li class="page-item active " id="pagina-atual">
        <% if(idPagina === 1){%>
          <span class="page-link"><a class="pagina-link pagina-ativa" href="/pacientes/?page=<%=paginaAtual%>"><%=paginaAtual%></a></span>
        <%}else{%>
          <span class="page-link"><a class="pagina-link pagina-ativa" href="/pacientes/filter/page=<%=paginaAtual%>?matricula=<%=filterMatricula%>&data=<%=filterData%>&status=<%=filterStatus%>&especialidade=<%=filterEspecialidade%>&nome=<%=filterNome%>"><%=paginaAtual%></a></span>
        <%}%>
      </li>
        

      <!--página posterior página-->
      <% let deslocamentoPagina = Number.parseInt(5) %>
      <% let numeroPosterior = Number.parseInt(paginaAtual) + 1 %>
      <% let totalPaginas = Math.ceil(pacientes.count/deslocamentoPagina)%>
      <% console.log("Total de páginas:",totalPaginas, "Total Pacientes:",pacientes.count) %>

      <% if(numeroPosterior<=totalPaginas){%>
        <li class="page-item" id="proximo">
          <% if(idPagina ===1){%>
            <span class="page-link"><a class="pagina-link" href="/pacientes/?page=<%=numeroPosterior%>">Próximo</a></span>
          <%}else{%>
            <span class="page-link"><a class="pagina-link"  href="/pacientes/filter/page=<%=numeroPosterior%>?matricula=<%=filterMatricula%>&data=<%=filterData%>&status=<%=filterStatus%>&especialidade=<%=filterEspecialidade%>&nome=<%=filterNome%>">Próximo</a></span>
          <%}%>
        </li>
      <%}else{%>
        <li class="page-item disabled">
          <span class="page-link">Próximo</span>
        </li>
      <%}%>

    </ul>
</nav>