<!DOCTYPE html>
<html lang="pt-br">

<head>
	<%- include('../partials/head') %>
	<link rel="stylesheet" type="text/css" href="/css/tabela.css">
	<link type="text/css" href="/BootStrap/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/paciente.css">

</head>

<body>

	<header class='cabecalho'>
		<%- include('../partials/header') %>
	</header>
	<h2 class="titulo-form titulo-paciente">Pacientes</h2>
	<section class="campo-busca">
		<%- include('../partials/BuscarPacientes') %>
	</section>
	<div class="numero-paginas">
		<%- include('../partials/paginas')%>
	</div>
	<table class='tabela-pacientes table-hover text-center'>
		<thead class="cabecalho-tabela">
			<tr class="linha-cabecalho">
				<th class="celula celula-pequena">Matrícula</th>
				<th class="celula celula-pequena">Data</th>
				<th class="celula celula-grande">Nome</th>
				<th class="celula celula-pequena">Data Nascimento</th>
				<th class="celula celula-pequena">Telefone</th>
				<th class="celula celula-pequena">Celular</th>
				<th class="celula celula-pequena">Especialidade</th>
				<th class="celula celula-grande">Observação</th>
			</tr>
		</thead>
		<tbody>
			<%- include ('../partials/ListaPacientes') %> 
		</tbody>
	</table>
	<script src="/js/Validation/DadosConverter.js"></script>
	<script src="/js/Validation/mascara.js"></script>
	<script src="/js/Validation/Validacao.js"></script>
</body>

</html>