<!DOCTYPE html>
<html lang="pt-br">

<head>
	<%- include('../partials/head') %>
	<link rel="stylesheet" type="text/css" href="/css/tabela.css">
	<link type="text/css" href="/BootStrap/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/paciente.css">

</head>

<body>

	<header class='cabecalho'>
		<%- include('../partials/header') %>
	</header>
	<h2 class="titulo-form titulo-paciente">Pacientes</h2>
	<section class="campo-busca">
		<%- include('../partials/BuscarPacientes') %>
	</section>
	<div class="numero-paginas">
		<%- include('../partials/paginas')%>
	</div>
	<div class="caixa-modal">
		<%- include('../partials/modal')%>
	</div>
	<div class="table-responsive">
		<table class='tabela-pacientes table table-hover text-center'>
			<thead class="cabecalho-tabela">
				<tr class="linha-cabecalho">
					<th class="celula celula-pequena">Matrícula
						<input type="checkbox" class="checkAll" onclick="pacienteCheckbox()" id="checkAll">
					</th>
					<th class="celula celula-pequena">Data</th>
					<th class="celula celula-media">Atendente</th>
					<th class="celula celula-media">Status</th>
					<th class="celula celula-grande">Nome</th>
					<th class="celula celula-media">Data<br>Nascimento</th>
					<th class="celula celula-media">Telefone<br>Celular</th>
					<th class="celula celula-media">Especialidade</th>
					<th class="celula celula-grande">Observação</th>
					<th class="celula celula-media">Atendente<br>Registro</th>
					<th class="celula celula-media">Data<br>Registro</th>
					<th class="celula celula-grande">Informação<br>Registro</th>
				</tr>
			</thead>
			<tbody>
				<%- include ('../partials/ListaPacientes') %> 
			</tbody>
		</table>
	</div>
	<div class="caixa-modal">
		<%- include('../partials/modal')%>
	</div>
	<div class="numero-paginas">
		<%- include('../partials/paginas')%>
	</div>
	<script src="/js/Validation/DadosConverter.js"></script>
	<script src="/js/Validation/mascara.js"></script>
	<script src="/js/Validation/Validacao.js"></script>
	<script src="/js/checkboxs.js"></script>
</body>

</html>